<ion-header>
        <ion-toolbar>
            <div showWhen="ios">
                <ion-buttons start>
                    <button ion-button icon-only color="dark" (click)="closeModal()">
                        <ion-icon name="arrow-back"></ion-icon>
                    </button>
                </ion-buttons>
            </div>
            <ion-title>New Lock</ion-title>
        </ion-toolbar>
    </ion-header>
         
    <ion-content padding>
        <ion-slides>
            <ion-slide>
                <p>Dummy text about installation</p>
                <br>
                <p>we love our product</p>
                <button full ion-button icon-start color="secondary" (click)="scanCode()">
                    <ion-icon name="qr-scanner"></ion-icon>
                    Scan Code
                </button>
            </ion-slide>  
            <ion-slide>
                <ion-list no-lines>    
                    <ion-item>
                        <ion-label fixed>Lock Name</ion-label>
                        <ion-input type="text" placeholder=" Main enterence / Garage / Extra " [(ngModel)]="value.name"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Add to an Eye</ion-label>
                        <ion-toggle (ionChange)="toggleEye()" color="dark"></ion-toggle>
                    </ion-item>
                    <ion-list *ngIf="eye === true" no-lines inset>   
                        <ion-item *ngIf="eyes?.length==0">
                            No Eye found
                        </ion-item>
                        <ion-item *ngFor="let a of eyes">
                            <ion-label>{{a?.name}}</ion-label>
                            <ion-checkbox color="dark" (ionChange)="updateEye(a.e_id)"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                <button full ion-button icon-start color="secondary" (click)="onSubmit()">
                    <ion-icon name="add"></ion-icon>
                    Add Lock
                </button>
    
                </ion-list>
            </ion-slide>
            <ion-slide>
                <div *ngIf="success==1">
                    <p class="success"><b>{{value.name}} Lock Added Successfully!</b></p>
                    <br/>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2" *ngIf="success">
                        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                    </svg>
                </div>
                <div *ngIf="success==2">
                    <p class="error"><b>Could Not Add Lock</b></p>
                    <br/>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                        <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
                        <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
                    </svg>
                    <p class="error">Something went wrong!</p>
                </div>
            </ion-slide>
        </ion-slides>
    </ion-content>
        