page-lock {

}
/*______________________________________________circle_battery_________________________________________________*/
.positionRelative{
    position: relative;

}

.percentageValue {
    top: 35%;
    position: absolute;
    width: 100%;
    text-align: center;
}
.item-content{
    background-color: rgba(255, 50, 50, 0.04);
}