page-eye {

}
/*______________________________________________circle_battery_________________________________________________*/
    .positionRelative{
      position: relative;
  
  }
  
  .percentageValue {
      top: 35%;
      position: absolute;
      width: 100%;
      text-align: center;
  }
